@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
	--sl-font: 'JetBrains Mono', serif !important;
}

.card {
	border-radius: 0.5rem;
}
